# Getting TMDB Genre Codes

In [1]:
import requests
import pandas as pd
from config import tmdb_key

In [2]:
genres = requests.get(f'https://api.themoviedb.org/3/genre/movie/list?api_key={tmdb_key}&language=en-US')
genres

In [3]:
genres = genres.json()

In [4]:
genres = genres['genres']

In [5]:
genres

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 80, 'name': 'Crime'},
 {'id': 99, 'name': 'Documentary'},
 {'id': 18, 'name': 'Drama'},
 {'id': 10751, 'name': 'Family'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 36, 'name': 'History'},
 {'id': 27, 'name': 'Horror'},
 {'id': 10402, 'name': 'Music'},
 {'id': 9648, 'name': 'Mystery'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 10770, 'name': 'TV Movie'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 10752, 'name': 'War'},
 {'id': 37, 'name': 'Western'}]

In [7]:
df = pd.DataFrame.from_dict(genres)

In [9]:
df.to_csv('TMDB Genres.csv', index=False)

# Retrieve More Info About the Netflix Top Ten

In [2]:
netflix_df = pd.read_csv('Data/Edited Data/Netflix Top 10.csv')

In [3]:
netflix_df

,Title,Type,Netflix Release Date,Days in Top Ten,Viewership Score
0,Cocomelon,TV Show,1-Jun-20,220,730
1,The Queen's Gambit,TV Show,23-Oct-20,73,446
2,Bridgerton,TV Show,25-Dec-20,58,432
3,Cobra Kai,TV Show,28-Aug-20,53,370
4,Ginny & Georgia,TV Show,24-Feb-21,44,335
...,...,...,...,...,...
144,The Secret Life of Pets 2,Movie,27-Dec-19,1,2
145,Your Highness,Movie,1-May-21,1,2
146,Are We There Yet?,Movie,1-Feb-21,1,1
147,Step Up Revolution,Movie,1-Mar-21,1,1
148,The BFG,Movie,15-Mar-21,1,1

In [35]:
request = requests.get(f'https://api.themoviedb.org/3/search/multi?api_key={tmdb_key}&query={query}')
data = request.json()
data['results'][0]

{'adult': False,
 'backdrop_path': '/fJBDucBJmNo8pk2trsqmezoM2UZ.jpg',
 'genre_ids': [35, 12, 14],
 'id': 38319,
 'media_type': 'movie',
 'original_language': 'en',
 'original_title': 'Your Highness',
 'overview': "A fantasy movie about an arrogant, lazy prince and his more heroic brother who must complete a quest in order to save their father's kingdom.",
 'popularity': 12.029,
 'poster_path': '/bq3gU60TkgBjLUbxSSZVhDhlhmH.jpg',
 'release_date': '2011-04-08',
 'title': 'Your Highness',
 'video': False,
 'vote_average': 5.3,
 'vote_count': 977}

In [36]:
queries = list(netflix_df['Title'])

In [37]:
info = []

for query in queries:
    request = requests.get(f'https://api.themoviedb.org/3/search/multi?api_key={tmdb_key}&query={query}')
    data = request.json()
    info.append(data['results'][0])

In [40]:
type(info)

list

In [41]:
additional_df = pd.DataFrame.from_dict(info)

In [46]:
additional_df.head()

,backdrop_path,first_air_date,genre_ids,id,media_type,name,origin_country,original_language,original_name,overview,popularity,poster_path,vote_average,vote_count,adult,original_title,release_date,title,video
0,/qvayCcPYYae6tVDbMgklhTFZ9xo.jpg,2020-11-01,"[16, 10762]",114718,tv,CoComelon,"[GB, US]",en,CoComelon,"Cocomelon Kids Hits, Vol. 1",2.744,/ngFacWQt0QxR6NArhQ4kj8a4IkA.jpg,6.6,5,NaN,NaN,NaN,NaN,NaN
1,/34OGjFEbHj0E3lE2w0iTUVq0CBz.jpg,2020-10-23,[18],87739,tv,The Queen's Gambit,[US],en,The Queen's Gambit,"In a Kentucky orphanage in the 1950s, a young ...",100.144,/zU0htwkhNvBQdVSIKB9s6hgVeFK.jpg,8.7,1933,NaN,NaN,NaN,NaN,NaN
2,/m7FqiUOvsSk7Ulg2oRMfFGcLeT9.jpg,2020-12-25,[18],91239,tv,Bridgerton,[US],en,Bridgerton,"Wealth, lust, and betrayal set in the backdrop...",99.582,/qaewZKBKmXjb4ZfFBb1LCug6BE8.jpg,8.2,1124,NaN,NaN,NaN,NaN,NaN
3,/gL8myjGc2qrmqVosyGm5CWTir9A.jpg,2018-05-02,"[10759, 18]",77169,tv,Cobra Kai,[US],en,Cobra Kai,This Karate Kid sequel series picks up 30 year...,329.624,/4CkQvdUAtoLW3qkjWi7t1MTnW7R.jpg,8.1,3157,NaN,NaN,NaN,NaN,NaN
4,/zQwFXzdFkkfar7IeMSzVsMJXSU7.jpg,2021-02-24,"[35, 18]",117581,tv,Ginny & Georgia,[US],en,Ginny & Georgia,Angsty and awkward fifteen year old Ginny Mill...,122.521,/e4aqizYQ8eeTGNZMq6WiFfqoZbz.jpg,8.1,553,NaN,NaN,NaN,NaN,NaN

In [48]:
additional_df.loc[:, ['name', 'original_name', 'original_title']]

                   name       original_name             original_title
0             CoComelon           CoComelon                        NaN
1    The Queen's Gambit  The Queen's Gambit                        NaN
2            Bridgerton          Bridgerton                        NaN
3             Cobra Kai           Cobra Kai                        NaN
4       Ginny & Georgia     Ginny & Georgia                        NaN
..                  ...                 ...                        ...
144                 NaN                 NaN  The Secret Life of Pets 2
145                 NaN                 NaN              Your Highness
146                 NaN                 NaN          Are We There Yet?
147                 NaN                 NaN         Step Up Revolution
148                 NaN                 NaN                    The BFG

[149 rows x 3 columns]

In [50]:
type(additional_df.loc[0, 'original_title'])

float

In [51]:
additional_df.to_csv('TMDB-Netflix Data.csv', index=False)