# Netflix Top Ten

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
urls = ['https://www.the-numbers.com/home-market/netflix-daily-chart/2021/0{}'.format(i) for i in range(1, 6)]
urls

['https://www.the-numbers.com/home-market/netflix-daily-chart/2021/01',
 'https://www.the-numbers.com/home-market/netflix-daily-chart/2021/02',
 'https://www.the-numbers.com/home-market/netflix-daily-chart/2021/03',
 'https://www.the-numbers.com/home-market/netflix-daily-chart/2021/04',
 'https://www.the-numbers.com/home-market/netflix-daily-chart/2021/05']

In [4]:
def add_days(url):
    days = []
    for i in range(1, 10):
        days.append(url + '/0' + str(i))
    for i in range(10, 29):
        days.append(url + '/' + str(i))
    if url[-1] == '4':
        for i in range(29, 31):
            days.append(url + '/' + str(i))
    elif url[-1] != '2':
        for i in range(29, 32):
            days.append(url + '/' + str(i))
    return days

In [5]:
all_urls = []

for url in urls:
    all_urls.extend(add_days(url))

In [6]:
all_urls[0]

'https://www.the-numbers.com/home-market/netflix-daily-chart/2021/01/01'

In [7]:
def get_data(url):
    request = requests.get(url)
    df_list = pd.read_html(request.content)
    return df_list[1]

In [8]:
get_data(all_urls[100])

,Rank,YD,LW,Title,Type,NetflixExcl.,NetflixReleaseDate,Days InTop 10,Viewer-shipScore,WatchNow
0,1,(1),(-),Thunder Force,Movie,Yes,"Apr 9, 2021",2,20,Watch Now
1,2,(3),(-),This is a Robbery: The Worl…,TV Show,Yes,"Apr 7, 2021",3,25,Watch Now
2,3,(2),(1),Who Killed Sara?,TV Show,Yes,"Mar 24, 2021",16,150,Watch Now
3,4,(7),(-),The Little Rascals,Movie,NaN,"Apr 2, 2021",2,11,Watch Now
4,5,(5),(7),The Serpent,TV Show,Yes,"Apr 2, 2021",8,50,Watch Now
5,6,(4),(-),What Lies Below,Movie,NaN,"Apr 4, 2021",7,59,Watch Now
6,7,(6),(9),Cocomelon,TV Show,Yes,"Jun 1, 2020",170,533,Watch Now
7,8,(8),(2),Concrete Cowboy,Movie,Yes,"Apr 2, 2021",9,59,Watch Now
8,9,(9),(-),Legally Blonde,Movie,Yes,"Apr 1, 2021",5,10,Watch Now
9,10,(-),(-),Sniper: Ghost Shooter,Movie,NaN,"Apr 1, 2021",6,14,Watch Now

In [9]:
top_ten_list = []

for i in all_urls:
    top_ten_list.append(get_data(i))

In [10]:
len(top_ten_list)

151

In [11]:
df = pd.concat(top_ten_list, ignore_index=True)

In [100]:
df.sort_values(by=['Viewer-shipScore'], ascending=False, inplace=True)

In [12]:
df.head()

,Rank,YD,LW,Title,Type,NetflixExcl.,NetflixReleaseDate,Days InTop 10,Viewer-shipScore,WatchNow
0,1,(1),(-),Bridgerton,TV Show,Yes,"Dec 25, 2020",7,67,Watch Now
1,2,(3),(-),Death to 2020,Concert/Perf…,Yes,"Dec 27, 2020",5,37,Watch Now
2,3,(2),(-),We Can Be Heroes,Movie,Yes,"Dec 25, 2020",7,58,Watch Now
3,4,(-),(-),Chilling Adventures of Sabrina,TV Show,Yes,"Oct 26, 2018",1,7,Watch Now
4,5,(4),(1),The Midnight Sky,Movie,Yes,"Dec 23, 2020",9,77,Watch Now

In [13]:
df.to_csv('Netflix Top 10.csv', index=False)